/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cmls-block-vflipcard  {
	display: block;
	margin: 0 auto;
	padding: 5px;
	max-width: 100%;

	perspective: 1000px;

	.vflipcard-toggle {
		display: none;
	}

	.vflipcard-container {
		display: block;
		position: relative;
		height: 0;
		max-width: 100%;
		padding-bottom: 100%;
		transition: 0.3s;
		transform-style: preserve-3d;
		text-decoration: none;
	}

	@at-root body:not(.wp-admin) & {
		&:hover,
		.vflipcard-toggle:checked {
			.vflipcard-container,
			& + .vflipcard-container {
				transform: rotateY(180deg) scale(1.06);
			}
		}
		@media (hover: none) {
			&:hover {
				.vflipcard-container {
					transform: none;
				}
			}
		}
	}

	.vflipcard-face {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backface-visibility: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: .6em;
		box-shadow: 0 0 1em rgba(0,0,0,0.15);
	}

	.vflipcard-front {
		z-index: 2;
		transform: rotateX(0deg);
	}

	.vflipcard-back {
		transform: rotateY(180deg);

		.vflipcard-back-body {
			align-self: center;
			width: 100%;
		}
	}

	@at-root body.wp-admin .vflipcard-back-body {
		//transform: rotateX(180deg) rotateY(180deg);
	}

}
